@media screen and (max-width: 991px) {
  .container header {
    height: 74px; }
    .container header .logo {
      padding-left: 94px;
      text-align: start; }
      .container header .logo a {
        font-size: 20px;
        font-family: "Montserrat", sans-serif; }
    .container header .nav nav ul li {
      display: none; }
    .container header .nav nav ul .button-hamburguesa {
      display: block;
      margin-right: 94px; }
  .container .extend-header .principal .titulo-principal {
    font-size: 44px; }
  .container .extend-header .principal .subtitulo {
    font-size: 22px; }
  .container .main .containerMain .portfolio .h2Portfolio {
    font-size: 36px;
    font-family: "Montserrat", sans-serif; }
  .container .main .containerMain .container-row-main {
    width: 87%;
    margin: auto; }
    .container .main .containerMain .container-row-main .image {
      flex: 50%; }
  .container .about .headerAbout .h2About {
    font-size: 36px; }
  .container .about .containerAbout {
    width: 76%;
    margin: auto; }
    .container .about .containerAbout .p, .container .about .containerAbout .p1 {
      flex: 100%;
      margin: 0 0 16px;
      padding: 0 24px; }
  .container .contact .container-contact .h2-contact {
    font-size: 36px;
    font-family: "Montserrat", sans-serif; }
  .container .contact .container-contact .form-contact {
    width: 81%;
    margin: auto; }
    .container .contact .container-contact .form-contact form .input-form input {
      font-family: "Lato", sans-serif; }
  .container .footer .cont-footer {
    display: block; }
    .container .footer .cont-footer .location, .container .footer .cont-footer .about-footer, .container .footer .cont-footer .around {
      width: 80%;
      margin: 0 auto 48px; } }

@media screen and (max-width: 768px) {
  .container header {
    height: 74px; }
    .container header .logo {
      padding-left: 24px;
      text-align: start; }
      .container header .logo a {
        font-size: 20px;
        font-family: "Montserrat", sans-serif; }
    .container header .nav nav ul li {
      display: none; }
    .container header .nav nav ul .button-hamburguesa {
      display: block;
      margin-right: 24px; }
  .container .main .containerMain {
    width: 100%;
    margin: auto; }
    .container .main .containerMain .portfolio .h2Portfolio {
      font-size: 36px; }
    .container .main .containerMain .container-row-main {
      box-sizing: border-box;
      margin: auto;
      width: 94%; }
      .container .main .containerMain .container-row-main .image {
        flex: 50%;
        width: 312px; }
  .container .about .containerAbout {
    display: flex;
    width: 100%; }
    .container .about .containerAbout .p {
      flex: 50%; }
  .container .contact .container-contact {
    width: 100%; }
    .container .contact .container-contact .form-contact {
      width: 94%;
      padding: 0 24px; }
      .container .contact .container-contact .form-contact form {
        width: 90%; }
  .container .footer .cont-footer {
    width: 90%; }
    .container .footer .cont-footer .about-footer {
      width: 100%;
      margin: 0;
      padding: 0; } }

@media screen and (min-width: 310px) and (max-width: 768px) {
  .container header .logo {
    padding-left: 16px;
    flex: 3; }
  .container header .nav {
    padding: 10px; }
  .container .main .containerMain .container-row-main {
    width: 100%; }
    .container .main .containerMain .container-row-main .image {
      flex: 100%;
      padding: 0 24px; }
  .container .about .headerAbout {
    width: 100%; }
  .container .about .containerAbout .p {
    padding: 0;
    flex: 100%; }
  .container .footer .cont-footer .around {
    width: 100%;
    padding: 0; }
  .container .footer .cont-footer .about-footer {
    width: 100%;
    padding: 0 24px; }
  .container .footer .copyright-footer .small-footer {
    font-size: 12.8px;
    font-family: "Lato", sans-serif; } }

.container header {
  display: flex;
  background-color: #2c3e50;
  height: 100px;
  position: fixed;
  width: 100%; }
  .container header .logo {
    text-align: center;
    margin: auto;
    flex: 1;
    font-size: 1.75em;
    display: block;
    margin: auto; }
    .container header .logo a {
      text-decoration: none;
      color: white;
      font-size: 28px; }
  .container header .nav {
    flex: 1;
    text-align: center; }
    .container header .nav nav ul li {
      display: inline-block;
      padding: 10px;
      margin: 30px auto;
      text-align: center; }
      .container header .nav nav ul li a {
        text-decoration: none;
        display: block;
        color: white; }
    .container header .nav nav ul .button-hamburguesa {
      display: none;
      position: absolute;
      right: 0;
      bottom: 20%;
      margin-right: 24px;
      width: 85px;
      height: 42px;
      border: none;
      border-radius: 8px;
      background-color: #1abc9c; }
      .container header .nav nav ul .button-hamburguesa .small-botton {
        font-size: 12.8px;
        font-family: "Montserrat", sans-serif;
        color: white; }

.container .extend-header {
  background-color: #1abc9c; }
  .container .extend-header .principal {
    width: 80%;
    margin: auto;
    padding: 10px; }
    .container .extend-header .principal .subtitulo {
      margin-bottom: 100px;
      text-align: center;
      color: white;
      font-size: 24px;
      font-family: "Lato", sans-serif; }
    .container .extend-header .principal h1 {
      font-size: 64px; }
    .container .extend-header .principal img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: 100px auto 36px; }
    .container .extend-header .principal .titulo-principal {
      font-size: 4rem;
      text-align: center;
      color: white; }
    .container .extend-header .principal .divisor {
      display: flex;
      width: 100%;
      margin: 30px auto;
      justify-content: center;
      align-items: center; }
      .container .extend-header .principal .divisor .estrella {
        display: inline;
        font-size: 37px;
        color: white; }
      .container .extend-header .principal .divisor .vacio {
        width: 112px;
        background-color: white;
        height: 4px;
        border-radius: 2px;
        margin: 0 10px; }
