@media screen and (max-width: 991px) {
  .container header {
    height: 74px; }
    .container header .logo {
      padding-left: 94px;
      text-align: start; }
      .container header .logo a {
        font-size: 20px;
        font-family: "Montserrat", sans-serif; }
    .container header .nav nav ul li {
      display: none; }
    .container header .nav nav ul .button-hamburguesa {
      display: block;
      margin-right: 94px; }
  .container .extend-header .principal .titulo-principal {
    font-size: 44px; }
  .container .extend-header .principal .subtitulo {
    font-size: 22px; }
  .container .main .containerMain .portfolio .h2Portfolio {
    font-size: 36px;
    font-family: "Montserrat", sans-serif; }
  .container .main .containerMain .container-row-main {
    width: 87%;
    margin: auto; }
    .container .main .containerMain .container-row-main .image {
      flex: 50%; }
  .container .about .headerAbout .h2About {
    font-size: 36px; }
  .container .about .containerAbout {
    width: 76%;
    margin: auto; }
    .container .about .containerAbout .p, .container .about .containerAbout .p1 {
      flex: 100%;
      margin: 0 0 16px;
      padding: 0 24px; }
  .container .contact .container-contact .h2-contact {
    font-size: 36px;
    font-family: "Montserrat", sans-serif; }
  .container .contact .container-contact .form-contact {
    width: 81%;
    margin: auto; }
    .container .contact .container-contact .form-contact form .input-form input {
      font-family: "Lato", sans-serif; }
  .container .footer .cont-footer {
    display: block; }
    .container .footer .cont-footer .location, .container .footer .cont-footer .about-footer, .container .footer .cont-footer .around {
      width: 80%;
      margin: 0 auto 48px; } }

@media screen and (max-width: 768px) {
  .container header {
    height: 74px; }
    .container header .logo {
      padding-left: 94px;
      text-align: start; }
      .container header .logo a {
        font-size: 20px;
        font-family: "Montserrat", sans-serif; }
    .container header .nav nav ul li {
      display: none; }
    .container header .nav nav ul .button-hamburguesa {
      display: block;
      margin-right: 94px; }
  .container .main .containerMain {
    width: 67%;
    margin: auto; }
    .container .main .containerMain .portfolio .h2Portfolio {
      font-size: 36px; }
    .container .main .containerMain .container-row-main .image {
      flex: 100%; } }
