@import "./variables";
@import "./responsive.scss";

.container {
    header {
        display: flex;
        background-color: $header-color;
        height: 100px;
        position: fixed;
        width: 100%;
        .logo {
            text-align: center;
            margin: auto;
            flex: 1;
            font-size: 1.75em;
            display: block;
            margin: auto;
            a { 
                text-decoration: none;
                color: $white;
                font-size: 28px;
            }
        }
        .nav {
            flex: 1;
            text-align: center;
            nav {
                ul {
                    li {
                        display: inline-block;
                        padding: 10px;
                        margin: 30px auto;
                        text-align: center;
                        a {
                            text-decoration: none;
                            display: block;
                            color: $white;
                        }
                    }
                    .button-hamburguesa {
                        display: none;
                        position: absolute;
                        right: 0;
                        bottom: 20%;
                        margin-right: 24px;
                        width: 85px;
                        height: 42px;
                        border: none;
                        border-radius: 8px;
                        background-color: $extend-color;
                        .small-botton {
                            font-size: 12.8px;
                            font-family: $montserrat;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .extend-header {
        background-color: $extend-color; 
        .principal {
            width: 80%;
            margin: auto;
            padding: 10px;
            .subtitulo {
                margin-bottom: 100px;
                text-align: center;
                color: $white;
                font-size: 24px;
                font-family: $lato;
            }
            h1 {
                font-size: 64px;
            }
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                display: block;
                margin: 100px auto 36px;
            }
            .titulo-principal {
                font-size: 4rem;
                text-align: center;
                color: $white;
            }
            @include divisorBlanco
        }
    }

}

