@import "./variables";
@media screen and (max-width: $Table) { 
    .container { 
        header { 
            height: 74px;
            .logo {
                padding-left: 94px;
                text-align: start;
                a {
                    font-size: 20px;
                    font-family: $montserrat;          
                }
            }
            .nav {
                nav {
                    ul {
                        li {
                            display: none; 
                        }
                        .button-hamburguesa {
                            display: block;
                            margin-right: 94px;
                        }
                    }
                }
            }
        }
        .extend-header {
            .principal {
                .titulo-principal {
                    font-size: 44px;
                }
                .subtitulo {
                    font-size: 22px;
                }
            }
        }
        .main {
            .containerMain {
                .portfolio {
                    .h2Portfolio {
                        font-size: 36px;
                        font-family: $montserrat;
                    }
                }
                .container-row-main {
                    width: 87%;
                    margin: auto;
                    .image {
                        flex: 50%;
                    }
                }
            }
        }
        .about {
            .headerAbout {
                .h2About {
                    font-size: 36px;
                }
            }
            .containerAbout {
                width: 76%;
                margin: auto;
                .p, .p1 {
                    flex: 100%;
                    margin: 0 0 16px ;
                    padding: 0 24px;
                }
            }
        }
        .contact {
            .container-contact {
                .h2-contact {
                    font-size: 36px;
                    font-family: $montserrat;
                }
                .form-contact {
                    width: 81%;
                    margin: auto;
                    form {
                        .input-form {
                            input {
                                font-family: $lato;
                            }    
                        }
                    }
                }
            }
        }
        .footer {
            .cont-footer {
                display: block;
                .location, .about-footer, .around {
                    width: 80%;
                    margin: 0 auto 48px;
                }
            }
        }
    }
}
@media screen and (max-width: $table) {
    .container {
        header {
            height: 74px;
            .logo {
                padding-left: 24px;
                text-align: start;
                a {
                    font-size: 20px;
                    font-family: $montserrat;          
                }
            }
            .nav {
                nav {
                    ul {
                        li {
                            display: none; 
                        }
                        .button-hamburguesa {
                            display: block;
                            margin-right: 24px;
                        }
                    }
                }
            }
        }
        .main {
            .containerMain {
                width: 100%;
                margin: auto;
                .portfolio {
                    .h2Portfolio {
                        font-size: 36px;
                    }
                }
                .container-row-main {
                    box-sizing: border-box;
                    margin: auto;
                    width: 94%;
                    .image {
                        flex: 50%; 
                        width: 312px;
                        .imagenes {
                        }
                    }
                }
            }
        }
        .about {
            .containerAbout {
                display: flex;
                width: 100%;
                .p {
                    flex: 50%;
                }
            }
        }
        .contact {
            .container-contact {
                width: 100%;
                .form-contact {
                    width: 94%;
                    padding: 0 24px;
                    form {
                        width: 90%;
                    } 
                }  
            }  
        }
        .footer {
            .cont-footer {
                width: 90%; 
                .about-footer {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
@media screen and (min-width: $mobil) and (max-width: $table)  {
    .container {
        header {
            .logo {
                padding-left: 16px;
                flex: 3;
            }
            .nav {
                padding: 10px;
            }
        }
        .main {
            .containerMain { 
                .container-row-main {
                    width: 100%;
                    .image {
                        flex: 100%;
                        padding: 0 24px;
                    }
                }
            }  
        }
        .about { 
            .headerAbout {
                width: 100%;
            }
            .containerAbout {
                .p {
                    padding: 0;
                    flex: 100%;
                }
            }
        }
        .footer {
            .cont-footer {
                .around {
                    width: 100%;
                    padding: 0;
                }
                .about-footer {
                    width: 100%;
                    padding: 0 24px;
                }
            }
            .copyright-footer {
                .small-footer {
                    font-size: 12.8px;
                    font-family: $lato;
                }
            }
        }
    }
}